* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&.hidden {
		display: none;
	}
}

.container {
	width: 100vw;
	height: 100vh;
	background: rgb(230, 230, 230);
	display: flex;
	align-items: stretch;


	.scene {
		flex: 3;
		display: flex;
		align-items: center;
		justify-content: space-around;

		.battler {
			width: 300px;
			height: 300px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 30px 30px 80px 30px;

			.sprite {
				width: 100px;
				transform-origin: bottom;
				animation-timing-function: ease-in-out;

				&.flipped {
					transform: scaleX(-1);
				}
			}

			.hp {
				width: 200px;
				height: 30px;

				background: #bbb;
				outline: 3px solid black;

				.value {
					height: 30px;
					width: calc(2px * var(--percent, 100));
					background-color: hsl(var(--hue, 120), 100%, 45%);
				}
			}
		}
	}

	.textbox {
		background: white;
		flex: 1;
		border-left: 20px solid black;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px;
		overflow-y: scroll;
		font-family: Arial, Helvetica, sans-serif;
		user-select: none;

		.text {
			font-size: 20px;
			line-height: 1.5;

			&.ability {
				color: hsl(220, 92%, 58%);
				display: inline-block;
				font-weight: 1000;
			}

			&.critical {
				color: hsl(18, 85%, 51%);
				transform-origin: center center;
				transform: scaleY(1.2);
				font-weight: bold;
				font-style: italic;
				font-family: monospace;
			}

			&.type-effectiveness {
				font-style: italic;

				&.weak {
					color: hsl(120, 64%, 27%);
				}

				&.resist {
					color: hsl(0, 64%, 27%);
				}

				&.immune {
					color: hsl(245, 15%, 54%);
				}
			}
		}
	}

	.autoscroll-menu {
		position: absolute;
		right: 10px;
	}
}